.article .box {
  margin: 25px 20px;
  padding: 10px;
  color: #000;
  background: rgba(145, 180, 192, 0.5); }

.article .title {
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px; }

.article .created {
  text-align: center;
  font-size: 0.50em;
  font-weight: 400;
  letter-spacing: 1px; }

.article .content {
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px; }

.article .line {
  max-width: 400px;
  border-color: #999999; }
